<div class="home-component">
  <nav class="navbar navbar-light justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand">FLEX</a>
      <form class="form-inline">
        <button type="button" class="btn btn-lg my-2 my-sm-0" routerLink="/login">Login</button>
      </form>
    </div>
  </nav>

  <div class="main">
    <div class="container">
      <h1 class="title pb-3">Welcome to <span>FLEX</span></h1>

      <p class="pt-2 pb-3">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, ....
      </p>
      <div class="grp-btn pt-3">
        <a class="btn btn1 mr-3">Learn More</a>
        <a class="btn btn2 ml-3" routerLink="/signup">Get Started</a>
      </div>
    </div>
  </div>
</div>
